<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info' , user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'books/form', book: @book_new %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		  <div>
  		    <%= render 'book_comments/book_table', book: @book %>
  		  </div>
        <div class="comments", id="book_comments" >
          <%= render 'book_comments/comments', book: @book %>
        </div>
        <div class="new-comment", id="comments">
          <%= render 'book_comments/book_comments', book: @book, book_comment: @book_comment %>
        </div>
    </div>
  </div>
</div>